$bg: #3649f9;
$bg-accent: #484a4d;
$text-color: #dadce1;
$nav-size: 20px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5 !important;
}